*{
    font-family: 'Montserrat', sans-serif;
}

.retour{
    margin-top: 30px;
    margin-left: 30px;
}

.retour input{
    background-color: #f44336;
    border: 1px solid #f44336;
    border-radius: 10px;
    padding: 5px 8px;
    color: white;
}

#petition{
    margin-top: 80px;
}

#petition .container{
    padding: 20px;
    background-color: #F8F9FA;
}

#petition .container .row .coll{
    margin: 20px 0px;
}

#petition .container .row .col-4{
    text-align: center;
}

#petition .container .row .col-4 img{
    width: 340px;
    height: 240px;
}

#petition .container .row .col-4 h4{
    margin: 20px;
}

.vert{
    color: green;
    font-weight: 600;
}

.rouge{
    color: #f44336;
    font-weight: 600;
}

#petition .container .row .col-8{
    padding: 20px;
}

#petition .row .col-8 h2{
    font-weight: 600;
}

#petition .row .col-8 p{
    margin-top: 20px;
}

#petition .col-8 form .btn{
    margin-top: 10px;
    float: right;
}

.button-81 {
    background-color: black;
    border: 1px solid black;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #f44336;
    cursor: pointer;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.7rem 1.2rem;
    text-align: center;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}
  
.button-81:hover {
    background-color: #fff;
    color: black;
    border: 1px solid #f44336;
}

.hide{
    position: absolute;
    display: none;
    visibility:hidden;
}

.flex{
    display: flex;
    justify-content: center;
}

hr{
    width: 92%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.success{
    background-color: rgb(18, 151, 18);
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
    border-radius: 15px;
    text-align: center;
}

.erreur{
    background-color: #f44336;
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 15px;
}

.successI{
    background-color: rgb(22, 165, 22);
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 15px;
}


/*COMMENTAIRES*/

#comnts .container{
    padding: 20px;
    background-color: #F8F9FA;
    margin-bottom: 30px;
}

#comnts .container .row{
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgb(189, 189, 189);
    margin: 20px 0;
}

#comnts .container .row .coll{
    padding: 10px;
}

#comnts .container .row .col-2{
    text-align: center;
    padding-right: 0px;
}

#comnts .container .row .col-2 img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

#comnts .container .row .col-10 h5{
    font-weight: 600;
}

#comnts .container .row .col-10 p{
    font-size: 14px;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 90px;
    background-color: #212529;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;   
}

footer ul li{
    margin-left: 30px;
    margin-top: 18px;
}

footer ul li:nth-child(1){
    margin-left: 0px;
}

footer ul li:nth-child(4){
    margin-right: 30px;
}

footer ul li i{
    font-size: 20px;
    color: white;
}

footer ul li i:hover{
    color: #f44336;
}

footer p{
    margin-top: -8px;
    font-size: 16px;
    color: #f44336;
    text-align: center;
}


@media screen and (max-width : 600px){
    footer{
        width: 100%;
        height: 110px;
        background-color: #212529;
    }
}